@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --color-default: #202136;
    --color-middle: #545365;
    --color-light: #878A99;
    --color-max-light: #DCDFEE;
    --color-white: #F7F8FC;
    --error: #af2d2d;
    --warning: #f9803a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--color-default);
}

